<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - StatsWave Analytics</title>
    <link rel="stylesheet" href="/static/css/contact_us.css">

</head>
<body>

    <div class="header">Contact Us</div>

    <div class="contact-container">
        <!-- Contact Details -->
        <div class="contact-info">
            <h2>Get in Touch</h2>
            <p><strong>📍 Address:</strong> K.R Puram ,Bengaluru Karnataka, India</p>
            <p><strong>📍 Address:</strong> Bhilai nagar ,Chhattisgarh , India</p>
            <!-- <p><strong>📞 Phone:</strong> +91 9876543210</p> -->
            <p><strong>📧 Email:</strong> support@futurestone.in</p>
            <p><strong>📧 Email:</strong> info@futurestone.in</p>

            <h3>Follow Us:</h3>
            <div class="social-links">
                <!-- <a href="#">Facebook</a>
                <a href="#">Twitter</a> -->
                <a href="https://www.linkedin.com/company/107287898">LinkedIn</a>
                <a href="https://www.instagram.com/futurestone.in">Instagram</a>
            </div>
        </div>

        <!-- Contact Form -->
        <div class="contact-form">
            <h2>Send a Message</h2>
            <form>
                <input type="text" placeholder="Your Name" required>
                <input type="email" placeholder="Your Email" required>
                <textarea rows="5" placeholder="Your Message" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>

    <div class="footer">
        &copy; 2025 FutureStone Analytics | All Rights Reserved
    </div>

</body>
</html>
